<header>
  <nav>
  </nav>
  <h1>Diego</h1>
</header>
<main>
  <p>I develop apps with Ruby</p>
  <button>View my work</button>
</main>
<footer>
  <span>GitHub</span>
  <span>LinkdIn</span>
  <span>Twitter</span>
</footer>